@font-face {
  font-family: "Red Hat Display";
  src: url("/fonts/RedHatDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
