@import "./reset.css";
@import "./fonts.css";
@import "./variables.css";

html {
  background: var(--white);
  font-family: "Nunito Sans";
  font-size: 100%;
  color: var(--text);
  overflow-x: hidden;
}

body {
  padding: 0;
  font-size: var(--font-size);
  overflow-x: hidden;
}

main {
  margin: 2.2rem 0;
}

p,
div,
ul,
ol {
  margin: 0 0 1rem;
}

h1,
h2 {
  font-weight: 700;
  color: var(--dark-green);

  letter-spacing: 0rem;
}

h1 {
  margin-bottom: 1.25rem;
  font-size: 2.4rem;
}

h2 {
  margin-top: 2rem;
  font-weight: 700;
}

.highlighted h2,
.tinted h2 {
  margin: 0 0 1rem;
}

h2 + p,
h2 + ul {
  margin-top: 0.75rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  margin: 0.5rem 0;
  font-weight: 600;
}

h4 {
  margin: 0.25rem 0 0.5rem;
}

.tinted + h3 {
  margin-top: 2rem;
}

p + ul {
  margin-top: -0.5rem;
}

ul ul {
  margin: 0.25rem 0 0;
  padding: 0 0 0 1rem;
}

ul.nobullet {
  list-style: none;
}

ul.inline {
  padding-left: 0;
  li {
    display: inline;
    a {
      display: inline-block;
    }
  }
}

li {
  padding: 0 0 0.5rem;
}

li::marker {
  color: var(--dark-green);
}

a {
  color: var(--link-blue);
  &:hover {
    text-decoration-thickness: 0.15rem;
  }
}

figcaption {
  font-size: var(--font-size-small);
  text-align: center;
  padding: 0.5rem 0 0;
  background: #dfeaea;
}

strong {
  font-weight: 700;
}

hr {
  height: 2px;
  background-color: var(--light-green);
  border: none;
  width: 75%;
  margin: 3rem auto 2rem;
}

/* Generic container to keep lines of text a readable length. */
.container {
  position: relative;
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* To create full-width container within a generic one. */
.full-width {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  .container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 636px) {
  .full-width .container {
    padding: 0 1.5rem;
  }
}

/* 
* Header and logo 
*/
.header {
  background: var(--dark-green);
  color: var(--white);
  header {
    padding: 1.4rem 1.25rem;
  }
  .logo a {
    font-family: "Red Hat Display", sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.03rem;
    color: var(--white);
    text-decoration: none;
  }
  .strapline {
    margin: 0;
    color: var(--white);
    font-size: 0.95rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 636px) {
  .header {
    max-width: 100%;
    header {
      padding: 1.4rem 1.5rem;
    }
  }
}

/* 
* Main nav 
*/

/* Hide the menu list first */
#main-nav.hidden {
  display: none;
}

/* Position to the right of the header */
.nav-container {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

/* Style the hamburger button */
.nav-button {
  position: relative;
  padding: 5px 7px;
  border: 0;
  border-radius: 3px;
  background-color: var(--light-green);
  transition: background-color 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
  }
  &[aria-expanded="true"] {
    border-radius: 3px 3px 0 0;
    background-color: var(--yellow);
  }
  rect {
    fill: var(--dark-green);
  }
}

/* Vertical menu for smaller screens 
*  Notice the links are styled by the generic 'white-links' class 
*/
.main-nav-list {
  position: absolute;
  right: 0;
  z-index: 11;
  width: 20rem;
  border-radius: 4px 0 4px 4px;
  background: #333;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  list-style: none;
  li {
    padding: 0;
    &:last-child a {
      border-bottom: 0;
    }
    a {
      display: block;
      padding: 0.7rem;
      border-bottom: 1px solid #666;
    }
  }
}

/* Horizontal menu for wider screens */
@media screen and (min-width: 840px) {
  .nav-button {
    display: none;
  }
  #main-nav.hidden {
    display: block;
  }
  .main-nav-list {
    position: static;
    width: auto;
    background: transparent;
    box-shadow: none;
    li {
      display: inline;
      a {
        display: inline-block;
        border-bottom: none;
      }
      a[aria-current="page"] {
        text-decoration: solid underline var(--yellow) 2px;
        text-underline-offset: 4px;
      }
    }
  }
}

.footer-contact {
  background: var(--yellow);
  padding: 8px;
  text-align: center;
  margin: 4rem 0 0;
  a {
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
  }
}

footer {
  background: var(--black);
  margin: 0;
  padding: 0.4rem 0 4rem;
  text-align: center;
  a,
  .white-links a {
    font-size: var(--font-size-xsmall);
    padding: 5px;
    color: var(--grey-xlight);
  }
}

@media screen and (min-width: 625px) {
  footer {
    text-align: left;
  }
}

/* Utility styles */
.text-small {
  font-size: calc(var(--font-size) * 0.8);
}

.text-large {
  font-size: calc(var(--font-size) * 1.2);
}

.text-x-large {
  font-size: calc(var(--font-size) * 1.4);
}

.text-primary {
  color: var(--dark-green);
}

.bordered {
  border: 10px solid #dfeaea;
  margin-top: 2rem;
}

.tinted {
  background: var(--light-green);
  padding: var(--padding) 0;
  margin-top: 2rem;
}

.highlighted {
  border: 2px solid var(--yellow);
  border-radius: 10px;
  padding: var(--padding);
  margin-top: 2rem;
}

.white-links {
  a {
    border-bottom: none;
    color: white;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s ease-out;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
      text-decoration-color: #edc954;
      text-decoration-thickness: 2px;
    }
  }
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.p-0 {
  padding: 0;
}

.p-y-0,
.p-y-0 li {
  padding-top: 0;
  padding-bottom: 0;
}

.p-y-3 li {
  padding-bottom: 0.75rem;
}

.p-r-0 {
  padding-right: 0 !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.float-container {
  display: flow-root;
}

.float-right {
  text-align: center;
  img {
    display: inline;
  }
}

@media screen and (min-width: 625px) {
  .float-right {
    float: right;
    margin-left: var(--padding);
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  width: 1px;
}

.skip-link {
  background: var(--yellow);
  display: inline-block;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  color: var(--black);
  text-decoration: none;
}

.skip-link:focus {
  transform: translateY(0%);
}
