@import "./reset.css";
@import "./fonts.css";
@import "./variables.css";

html {
  background: var(--white);
  font-family: "Nunito Sans";
  font-size: 100%;
  color: var(--text);
  overflow-x: hidden;
}

body {
  padding: 0;
  font-size: var(--font-size);
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

main {
  margin: 2.2rem 0;
}

p,
div,
ul,
ol {
  margin: 0 0 1rem;
}

h1,
h2 {
  font-weight: 700;
  color: var(--dark-green);
  letter-spacing: 0.02rem;
  line-height: 1.1;
}

@media screen and (min-width: 636px) {
  h1,
  h2 {
    line-height: 1.2;
  }
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
}

h2 {
  margin-top: 2rem;
  font-weight: 700;
}

.highlighted h2,
.tinted h2 {
  margin: 0 0 1rem;
}

.contact {
  background: transparent url("/images/contact3.svg") no-repeat left 0.3rem;
  padding-left: 1.8rem;
  background-size: 1.5rem;
}

h2 + p,
h2 + ul {
  margin-top: 0.75rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  margin: 0.5rem 0;
  font-weight: 500;
}

h4 {
  margin: 0.25rem 0 0.5rem;
}

.tinted + h3 {
  margin-top: 2rem;
}

p + ul {
  margin-top: -0.5rem;
}

ul ul {
  margin: 0.25rem 0 0;
  padding: 0 0 0 1rem;
}

ul.nobullet {
  list-style: none;
}

ul.inline {
  padding-left: 0;
  li {
    display: inline;
    a {
      display: inline-block;
    }
  }
}

li {
  padding: 0 0 0.5rem;
}

li::marker {
  color: var(--dark-green);
}

dl {
  margin: 1rem 0;
  dt {
    font-size: var(--font-size-xxlarge);
    color: var(--dark-green);
    font-weight: 600;
  }
  dd {
    padding: 0 0 1rem 2rem;
  }
}

a {
  color: var(--link-blue);
  &:hover {
    text-decoration-thickness: 0.15rem;
  }
}

figcaption {
  font-size: var(--font-size-small);
  text-align: center;
  padding: 0.5rem 0 0;
  /* background: #dfeaea; */
}

strong {
  font-weight: 700;
}

hr {
  height: 2px;
  background-color: var(--light-green);
  border: none;
  width: 75%;
  margin: 3rem auto 2rem;
}

/* Generic container to keep lines of text a readable length. */
.container {
  position: relative;
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* To create full-width container within a generic one. */
.full-width {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  .container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 636px) {
  .full-width .container {
    padding: 0 1.5rem;
  }
}

/* 
* Header and logo 
*/
.header {
  background: var(--dark-green);
  color: var(--white);
  header {
    padding: 1.4rem 1.25rem;
  }
  .logo a {
    font-family: "Red Hat Display", sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.03rem;
    color: var(--white);
    text-decoration: none;
  }
  .strapline {
    margin: 0;
    color: var(--white);
    font-size: 0.95rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 636px) {
  .header {
    max-width: 100%;
    header {
      padding: 1.4rem 1.5rem;
    }
  }
}

/* 
* Main nav 
*/

/* Hide the menu list first */
#main-nav.hidden {
  display: none;
}

/* Position to the right of the header */
.nav-container {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

/* Style the hamburger button */
.nav-button {
  position: relative;
  padding: 5px 7px;
  border: 0;
  border-radius: 3px;
  background-color: var(--light-green);
  transition: background-color 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
  }
  &[aria-expanded="true"] {
    border-radius: 3px 3px 0 0;
    background-color: var(--yellow);
  }
  rect {
    fill: var(--dark-green);
  }
}

/* Vertical menu for smaller screens 
*  Notice the links are styled by the generic 'white-links' class 
*/
.main-nav-list {
  position: absolute;
  right: 0;
  z-index: 11;
  width: 20rem;
  border-radius: 4px 0 4px 4px;
  background: #333;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  list-style: none;
  li {
    padding: 0;
    &:last-child a {
      border-bottom: 0;
    }
    a {
      display: block;
      padding: 0.7rem;
      border-bottom: 1px solid #666;
    }
  }
}

/* Horizontal menu for wider screens */
@media screen and (min-width: 840px) {
  .nav-button {
    display: none;
  }
  #main-nav.hidden {
    display: block;
  }
  .main-nav-list {
    position: static;
    width: auto;
    background: transparent;
    box-shadow: none;
    li {
      display: inline;
      a {
        display: inline-block;
        border-bottom: none;
      }
      a[aria-current="page"] {
        text-decoration: solid underline var(--yellow) 2px;
        text-underline-offset: 4px;
      }
    }
  }
}

.footer-contact {
  background: var(--yellow);
  padding: 8px;
  text-align: center;
  margin: 0;
  a {
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
  }
}

footer {
  background: var(--black);
  margin: 4rem 0 0;
  padding: 0 0 4rem;
  text-align: center;
  .white-links a {
    font-size: var(--font-size-xsmall);
    padding: 5px;
    color: var(--grey-xlight);
  }
}

@media screen and (min-width: 625px) {
  footer {
    text-align: left;
  }
}

.banner {
  position: relative;
  margin-top: -2.2rem;
  margin-bottom: 2.5rem;
  img {
    height: auto;
  }
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  div {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    border-radius: 30px 0 30px 0;
    width: 20rem;
  }
}

@media screen and (min-width: 600px) {
  .banner-text {
    top: 40%;
    transform: translate(-50%, -40%);
    div {
      padding: 30px;
      font-size: 1.7rem;
      width: 35rem;
    }
  }
}

@media screen and (min-width: 1300px) {
  .banner-text {
    top: 40%;
    transform: translate(-50%, -40%);
    div {
      padding: 30px;
      font-size: 1.7rem;
      width: 40rem;
    }
  }
}
/* 
.banner-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 10;

div {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    border-radius: 30px 0 30px 0;
    width: 35rem;
  } */

/* Utility styles */
.text-small {
  font-size: var(--font-size-small);
}

.text-large {
  font-size: var(--font-size-large);
}

.text-x-large {
  font-size: var(--font-size-xlarge);
}

.text-xx-large {
  font-size: var(--font-size-xxlarge);
}

.text-primary {
  color: var(--dark-green);
}

.bordered {
  border: 10px solid #dfeaea;
  margin-top: 2rem;
}

.tinted {
  background: var(--light-green);
  padding: var(--padding) 0;
  margin-top: 2.25rem;
}

.highlighted {
  /* border: 2px solid var(--yellow); 
  border-radius: 10px;*/
  padding: var(--padding) 0;
  margin-top: 2rem;
  background-color: var(--light-yellow);
}

.white-links {
  a {
    border-bottom: none;
    color: white;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s ease-out;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
      text-decoration-color: #edc954;
      text-decoration-thickness: 2px;
    }
  }
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

.p-0 {
  padding: 0;
}

.p-y-0,
.p-y-0 li {
  padding-top: 0;
  padding-bottom: 0;
}

.p-y-3 li {
  padding-bottom: 0.75rem;
}

.p-r-0 {
  padding-right: 0 !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.border {
  border: 1px solid #ddd;
}

/* For headings */
.border-bottom {
  border-bottom: 2px solid var(--light-green);
}

.float-container {
  display: flow-root;
}

.float-right,
.float-left {
  text-align: center;
  img {
    display: inline;
  }
}

@media screen and (min-width: 625px) {
  .float-right {
    float: right;
    margin-left: var(--padding);
  }
  .float-left {
    float: left;
    margin-right: var(--padding);
  }
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
  margin: 2rem 0;
  padding-left: 0;
  list-style-type: none;
  li {
    display: inline-block;
    text-align: center;
    padding: 20px;
    position: relative;
    border: 2px solid var(--light-green);
    border-radius: 20px 0 20px 0;
    h2 {
      margin-top: 0;
    }
    h2 + p {
      margin-top: 0;
    }
    img {
      margin: 0 auto 0.75rem;
    }
  }
}

@media only screen and (min-width: 769px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.flex-container {
  margin: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  div {
    margin: 0;
    width: 100%;
  }
  img {
    margin: 0.4rem auto;
  }
  .small {
    flex: 0 0 170px;
    img {
      margin: 0.5rem 0;
    }
  }
}

@media only screen and (min-width: 769px) {
  .flex-container {
    flex-wrap: nowrap;
    img {
      margin: 0;
    }
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.height-auto {
  height: auto;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  width: 1px;
}

.skip-link {
  background: var(--yellow);
  display: inline-block;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  color: var(--black);
  text-decoration: none;
  z-index: 20;
}

.skip-link:focus {
  transform: translateY(0%);
}

/* .case-study {
  background: rgba(255, 255, 255, 0.6) url("/images/magnifying-glass.svg") right
    20px bottom 20px no-repeat;
  background-size: 150px;
  background-blend-mode: overlay;
} */

.case-study h3 {
  background: transparent url("/images/case-study4.svg") left top no-repeat;
  background-size: 26px;
  padding-left: 30px;
}

.case-study h2 {
  color: var(--black);
  background: transparent url("/images/case-study4.svg") left top no-repeat;
  background-size: 33px;
  padding-left: 37px;
}

.idea h2 {
  background: transparent url("/images/light-bulb.svg") left top no-repeat;
  background-size: 28px;
  padding-left: 36px;
}

.idea h3 {
  background: transparent url("/images/light-bulb.svg") left top no-repeat;
  background-size: 25px;
  padding-left: 35px;
}
