/* See https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.4;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --padding: 1.5rem;
  --padding-small: 1rem;
  --font-size: 1.1rem;
  --font-size-small: 1rem;
  --black: #333;
  --white: #fefefe;
  --dark-green: #4b6b77;
  --light-green: #dfeaea;
  --yellow: #edc954;
  --link-blue: #069;
  --grey: #555;
  --light: #efefef;
  --text: var(--black);
  --text-grey: var(--grey);
  --background: var(--white);
  --code-light-grey: #cacbd1;
  --code-comment: #a9aaad;
  --font-family-sans: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;
}

/*
* Site-specific styles
* ====================
*/

html {
  font-family: "Nunito Sans";
  color: var(--text);
  background: var(--background);
  font-size: 100%;
}

body {
  padding: 0;
  font-size: var(--font-size);
}

.container {
  max-width: 55rem;
  margin: 0 auto;
  position: relative;
  padding: 0 1.5rem;
}

/* headings */
header {
  margin: 1.3rem 0 1.25rem;
  text-align: center;

  div a {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--dark-green);
    font-size: 2.75rem;
    line-height: 1;
  }
}

.strapline {
  margin-top: 0.15rem;
  color: var(--grey);
}

p,
div,
ul,
ol {
  margin: 0 0 1rem;
}

h1,
h2 {
  font-weight: 500;
  color: var(--dark-green);
  font-family: "Red Hat Display", sans-serif;
  letter-spacing: 0.03rem;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  margin-top: 2rem;
}

.highlighted h2,
.tinted h2 {
  margin: 0 0 1rem;
}

h2 + p,
h2 + ul {
  margin-top: 0.5rem;
}

h3 {
  margin: 0.5rem 0;
}

h4 {
  margin: 0.25rem 0 0.5rem;
}

.tinted + h3 {
  margin-top: 2rem;
}

p + ul {
  margin-top: -0.5rem;
}

ul ul {
  margin: 0.25rem 0 0;
  padding: 0 0 0 1rem;
}

li {
  padding: 0 0 0.75rem;
}

a {
  color: var(--link-blue);
}

nav {
  background: var(--dark-green);
  text-align: center;
  ul {
    padding: 0;
    margin: 0 0 0 -15px;
  }

  li {
    display: inline-block;
    padding: 10px 15px;
  }
}

footer {
  nav li {
    padding: 0 15px 5px;
  }
}

main {
  margin: 3rem 0;
}

footer {
  background: var(--dark-green);
  margin: 5rem 0 0;
  padding: 0 0 4rem;
  color: var(--white);
}

figcaption {
  font-size: var(--font-size-small);
  text-align: center;
  padding: 0.5rem 0 0;
  background: #dfeaea;
}

hr {
  height: 2px;
  background-color: var(--light-green);
  border: none;
  width: 75%;
  margin: 3rem auto 2rem;
}

.white-links {
  a:link,
  a:visited {
    color: var(--white);
    text-decoration: none;
    transition: color 0.2s ease-out;
  }

  a:hover {
    color: var(--yellow);
  }

  a[aria-current="page"] {
    color: var(--yellow);
  }
}

li::marker {
  color: var(--dark-green);
}

/* Utility styles */
.text-small {
  font-size: calc(var(--font-size) * 0.8);
}

.text-large {
  font-size: calc(var(--font-size) * 1.2);
}

.text-x-large {
  font-size: calc(var(--font-size) * 1.4);
}

.text-primary {
  color: var(--dark-green);
}

.bordered {
  border: 10px solid #dfeaea;
  margin-top: 2rem;
}

.tinted {
  background: var(--light-green);
  padding: var(--padding);
  margin-top: 2rem;
}

.highlighted {
  border: 2px solid var(--yellow);
  border-radius: 10px;
  padding: var(--padding);
  margin-top: 2rem;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.p-0 {
  padding: 0;
}

.p-y-0,
.p-y-0 li {
  padding-top: 0;
  padding-bottom: 0;
}

.p-y-3 li {
  padding-bottom: 0.75rem;
}

.p-r-0 {
  padding-right: 0;
}

.float-container {
  display: flow-root;
}

.float-right {
  float: right;
  margin-left: var(--padding);
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.invisible {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  width: 1px;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 0;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 4px;
  margin-bottom: 8px;
  background-color: var(--dark-green);
}

.white-links {
  display: none;
}

.white-links div {
  background: var(--dark-green);
}

.white-links a {
  display: block;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .white-links {
    display: block;
    position: static;
  }

  .white-links a {
    display: inline-block;
  }
  .hamburger {
    display: none;
  }
}
