:root {
  --black: #333;
  --white: #fefefe;
  --dark-green: #4b6b77;
  --light-green: #dfeaea;
  --yellow: #edc954;
  --light-yellow: #ffe284;
  --link-blue: #069;
  --grey: #555;
  --grey-xlight: #ccc;
  --light: #efefef;
  --padding: 1.5rem;
  --font-size-xxlarge: 1.4rem;
  --font-size-xlarge: 1.2rem;
  --font-size-large: 1.1rem;
  --font-size: 1.1rem;
  --font-size-small: 1rem;
  --font-size-xsmall: calc(var(--font-size) * 0.8);
}
