---
const pageTitle = "About";
const description = "About the web developer Martin Cook";
import { Image } from "astro:assets";
import mugShot from "../assets/me2.jpg";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <p>
    I've spent 25 years working on different aspects of web development,
    including:
  </p>
  <ul>
    <li>
      Coding and scripting with a variety of technologies, including traditional
      CMSs like Drupal and Wordpress, to flat-file systems like Jekyll and Grav,
      and JavaScript frameworks like React (with Gatsby and Next.js);
    </li>
    <li>Researching, planning and designing new features and new websites;</li>
    <li>User experience (UX) and user testing;</li>
    <li>
      Web writing and editing (I've done courses in journalism and web writing).
      I've written style guides for the sites I've worked on and coordinated
      content delivery from across organisations;
    </li>
    <li>Ensuring accessibility and privacy standards are met;</li>
    <li>Server maintenance (Apache on CentOS and Debian);</li>
    <li>Custom database development (MySQL/MariaDB);</li>
    <li>
      Organising hackathons for European projects, and working in teams to
      create strategy, training and style guides;
    </li>
    <li>Staff training.</li>
  </ul>

  <p>See my LinkedIn profile.</p>
  <h2>Environment</h2>
  <p>Green hosting and conscious of material waste and energy use.</p>
  <h2>A little bio</h2>
  <p>
    Websites and applications are facades and it's sometimes hard to be sure
    who's behind them and what credibility they have.
  </p>
  <p>
    In the old days when we visited a shop in the bricks and mortar world we
    knew what part of town it was in, we could see from the outside if it was
    well kept or not, and we could tell from the staff how well run and
    trustworthy it was. We don't have all those cues in the digital world, so
    this is why I'm adding a short biography, just to make me more
    three-dimensional!
  </p>
  <p>
    I come from a village in the North-East of England, and left at 18 to do a
    degree in Psychology in London. After this I got my first jobs: working in a
    shop near Victoria Station, and then on the buses from Brixton Garage (quite
    a life experience!).
  </p>
  <p>
    Then I hitch-hiked around Europe a bit, did the <i lang="fr">vendange</i> (grape
    picking) in France and Switzerland and lived on a kibbutz in Israel for six months.
    It's hard to believe it now, but it was a fashionable thing for students to do
    at the time.
  </p>
  <p>
    On returning to London, I worked at the Royal Free Hospital School of
    Medicine and did a part-time Masters in Neuroscience. I aimed to take a year
    out and to start a PhD, but I went to South-East Asia and ended up staying
    there nearly five years. I did a certificate in Teaching English as a
    Foreign Language at the British Council in Kuala Lumpur and taught in
    Malaysia, Singapore and Indonesia.
  </p>
  <p>
    When I got back I worked in the Welcome Department of Cognitive Neurology at
    UCL in London. I did a Foundation Course in Art and Design whilst I was
    there (it was part-time), and helped make and maintain a department website
    (1998).
  </p>
  <p>
    In 2004 I got a job as a web developer at the Institute of Historical
    Research in London, and have been a full-time developer since then.
  </p>
  <p>
    I now live in a village near Cambridge with my partner and two daughters,
    and learn and study all sorts of things.
  </p>
</BaseLayout>
