---
const pageTitle = "Statement on AI";
const description = "Where I use AI and where I don't.";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <h2>Statement on AI</h2>
  <p>
    Permeating world rapidly. Any statement going to need updating regularly!
    Stick to AI in context of web development. AI issues of trust, ethics
    (stolen content), even human dignity: it's efficient from a company point of
    view to use it, but in some contexts, if you are offering a service, how
    does it feel to have a chatbot instead of a human? Do people have a right to
    know? If I have a live chat on my site, is it okay to pretend it's not
    actually me talking? Would you be happy knowing a site was created
    completely with AI? Sometimes that may be okay (summarising data from
    various sources into graphs), other times when offering a more personal
    service like bank might not be so comfortable.
  </p>
  <h2>Not something new in a way</h2>
  <p>
    Schumpeter, disruption exaggerated, "modern". Difference of viewpoint,
    disintermediation - Mr Site, DreamWeaver,
  </p>
  <h2>Coding</h2>
  <p>An assistant, not a replacement.</p>
  <h2>Design</h2>
  <p>Goals, IA, wireframes more important. Design is last stage.</p>
  <h2>Writing</h2>
  <p>
    Have to write to understand what want to say (Frank Smith?). Kaleidoscope
    machine in 1984 - stop thinking. Give impression good info when in fact
    meaningless. Useful for summarising, but only as assistant. Also need to
    reflect your audience.
  </p>
  <h2>Website like a garden, not a book</h2>
  <p>
    They don't end with going online, need constant feedback, updating content
    and code, maintenance. Does AI do updates for you?
  </p>
  <h2>User testing</h2>
  <p>
    Get whole story of why someone visits a site. Privacy concerns gathering
    data - is this feasible going ahead? Key to commitment is involvement.
  </p>
  <h2>SEO</h2>
  <p>
    Changed now: most searches are one-click. Research by CloudFare: people
    don't want sites scraped by AI bots. Will there be a reaction to Google
    hegemony?
  </p>
  <h2>Values</h2>
  <p>Market trader.</p>
</BaseLayout>
