---
const pageTitle = "Statement on AI";
const description = "Where I use AI and where I don't.";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <h2>Statement on AI</h2>
  <p>Last updated: November 2025</p>
  <p>
    Here are a few words about my approach to using AI in web projects. Of
    course things are moving fast, so I'll be updating the text from time to
    time. I'll go through some specific areas then make a few general comments.
    Here's the summary, though: <strong
      >AI is a useful and time-saving assistant, but not a replacement for
      knowing how plan, code and design a site</strong
    >.
  </p>
  <h2>Making a complete website</h2>
  <p>Many companies now offer a</p>
  <h2>Coding</h2>
  <p>
    AI chatbots like ChatGPT, Claude and Gemini are getting better and better at
    coding, but they're still not at the stage where you can simply take the
    code they produce and use it. For the most part, you still need to check
    through it and test it thoroughly.
  </p>
  <p>
    From my experience, and I see those of others online, it's usefulness can be
    sporadic. For a simple self-contained use like coding accordion buttons in
    HTML and Javascript then it can be fine. Other times it can be more
    frustrating and you end up just writing the code yourself.
  </p>
  <h2>Design</h2>
  <p>Goals, IA, wireframes more important. Design is last stage.</p>
  <h2>Writing</h2>
  <p>
    Have to write to understand what want to say (Frank Smith?). Kaleidoscope
    machine in 1984 - stop thinking. Give impression good info when in fact
    meaningless. Useful for summarising, but only as assistant. Also need to
    reflect your audience.
  </p>
  <p>
    Permeating world rapidly. Any statement going to need updating regularly!
    Stick to AI in context of web development. AI issues of trust, ethics
    (stolen content), even human dignity: it's efficient from a company point of
    view to use it, but in some contexts, if you are offering a service, how
    does it feel to have a chatbot instead of a human? Do people have a right to
    know? If I have a live chat on my site, is it okay to pretend it's not
    actually me talking? Would you be happy knowing a site was created
    completely with AI? Sometimes that may be okay (summarising data from
    various sources into graphs), other times when offering a more personal
    service like bank might not be so comfortable.
  </p>
  <h2>Not something new in a way</h2>
  <p>
    Schumpeter, disruption exaggerated, "modern". Difference of viewpoint,
    disintermediation - Mr Site, DreamWeaver,
  </p>
  <p>
    At this time, I wouldn't just create a site using AI. Services that do just
    that are out there, and I've tried some, but to me the results are bland and
    buggy. Plus, they encourage people to skip the steps before the design and
    coding of a site, which are the foundations for making and marketing the
    site (see <a href="/insights/dont-skip-strategy/">Don't skip the strategy</a
    > and other articles in the <a href="/insights/">Insights section</a>).
  </p>

  <h2>Website like a garden, not a book</h2>
  <p>
    They don't end with going online, need constant feedback, updating content
    and code, maintenance. Does AI do updates for you?
  </p>
  <h2>User testing</h2>
  <p>
    Get whole story of why someone visits a site. Privacy concerns gathering
    data - is this feasible going ahead? Key to commitment is involvement.
  </p>
  <h2>SEO</h2>
  <p>
    Changed now: most searches are one-click. Direct engagement more important
    (social media, F2F): get in special interest groups. Search Everywhere
    Optimisation: have different posts in different channels to get valdation as
    well as visibility i.e. to get others mentioning you. The other mentions are
    what AI picks up on. Amateurish of the web has gone.Research by CloudFare:
    people don't want sites scraped by AI bots. Will there be a reaction to
    Google hegemony?
  </p>
  <p>
    Social media post should: help someone, Tells why do what do, mention what
    you do in tis area. Who do you serve? What do you want to be known for?
    Relevant to them. Product has to come first, then people will share it. If
    product rubbish, they won't. Need to command authority (say sthg wise and
    fresh), need to show results because of this
  </p>
  <h2>Values</h2>
  <p>Market trader.</p>
  <p>
    Creating a website is like creating a garden. Imagine you don't know
    anything about gardening, so you got a robot gardener in and told it what to
    build. It does the job and goes away, and you might think, "Great, who needs
    a gardener?"
  </p>
  <p>There are a few issues you'll run into:</p>
  <ul>
    <li>
      You don't know enough about gardening to know what to ask for. You need to
      discuss that with someone who can give you ideas based on experience, and
      on your particular context.
    </li>
    <li>
      Since you're not a garden designer, you may not understand the strategy
      behind garden design, and the elements that make an effective design.
    </li>
    <li>You may not think through the practical consequences</li>
    <li>
      The garden needs maintenance. Like a website, it's ongoing not a one-off
      event.
    </li>
  </ul>
</BaseLayout>
