---
const pageTitle = "How I can help";
const description =
  "Ways I can help with your website development, from coding and designing to writing, maintenance and support, and help with grant applications.";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import whatsApp from "../assets/whatsapp-button.svg";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <ul class="grid-container">
    <li>
      <div>
        <img src="/images/create-websites.svg" height="60" alt="" />

        <h2>Make websites</h2><p>
          I create small to medium websites with a design and technology that
          suits your needs. Solutions range from simple Content Management
          Systems to site generators hosted on GitHub.
        </p>
      </div>
    </li>
    <li>
      <div>
        <img src="/images/maintain-websites.svg" height="60" alt="" />
        <h2>Maintain websites</h2><p>
          I can maintain existing websites, including updating content and
          adding new features.
        </p>
      </div>
    </li>
    <li>
      <div>
        <img src="/images/edit.svg" height="60" alt="" />
        <h2>Create content</h2><p>
          I can write and edit text based on documents you have, and create
          illustrations. I can also collate content from site stakeholders.
        </p>
      </div>
    </li>
    <li>
      <div>
        <img src="/images/advise.svg" height="60" alt="" />
        <h2>Advise</h2><p>
          I can make sure you meet legal requirements for the site, and give
          ideas about the structure, usability and design.
        </p>
      </div>
    </li>
  </ul>
  <h2>Help with grant applications</h2>
  <p>
    If you are writing a grant application for a EU-funded project (like a
    Horizon Europe project) or another academic project and need an idea of cost
    then let me know. I can help you think through the simplest technical
    solution, and estimate a cost to put in the funding proposal.
  </p>
  <!-- <h2>Training</h2>
  <p>
    In addition, I also give <strong>training</strong> in basic web technologies.
    This includes how websites and Content Management Systems work, and the basics
    of HTML, CSS and Javascript.
  </p> -->
  <p>
    See the <a href="/about/">About page</a> for my experience and portfolio.
  </p>
  <div class="tinted full-width">
    <div class="container">
      <h2 class="contact">Contact</h2>
      <p>Get in touch if you'd like to chat about your project.</p>
      <div class="text-primary text-xx-large mt-0 mb-1">+44 7455 624491</div>
      <div class="mb-3">
        <a href="mailto:martin@martincookdesign.co.uk"
          >martin@martincookdesign.co.uk</a
        >
      </div>
      <div>
        <a aria-label="Chat on WhatsApp" href="https://wa.me/17455624491">
          <Image
            src={whatsApp}
            alt="WhatsApp button"
            layout="constrained"
            width={190}
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>
  <h2>The technologies I can help with</h2>
  <p>
    There are a huge number of ways you can make a website or application, and
    no-one can be proficient in all of them.
    <strong
      >If the following lists don't mean anything to you, don't worry about it.</strong
    >
    I will tell you if I have experience in the technology you use or not.
  </p>
  <h3>Technologies I have most experience in</h3>
  <ul class="mb-0">
    <li>
      traditional PHP-based applications and content management systems like
      WordPress and Drupal;
    </li>
    <li>small site builders like Kirby, Jekyll and Astro;</li>
    <li>React or React-based systems like Gatbsy and Next.js.</li>
  </ul>
  <p>
    I have also built online shops with systems like Volusion, and used other
    site builders.
  </p>
  <h3>Some technologies I don't have experience in</h3>
  <ul>
    <li>Microsoft-based technologies like SharePoint or .net;</li>
    <li>
      Python or Ruby-based applications like Django or the Ruby on Rails
      framework;
    </li>
    <li>building mobile apps.</li>
  </ul>

  <h2>Don't forget...</h2>
  <p>
    I've added some <a href="/insights/">insights pages</a> to help you make more
    informed decisions about your site.
  </p>
</BaseLayout>
