---
const pageTitle = "How much it costs";
const description =
  "The cost of web development, content creation, support and web packages.";
import { Image } from "astro:assets";
import whatsApp from "../assets/whatsapp-button.svg";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <p>
    <strong>December 2025:</strong> I am just working on some packages that will
    give you a better idea of the total cost of a site. In the meantime, please use
    the contact below to let me know what you'd like, and I can give a quote based
    on that. Note that I do not charge VAT since my current turnover does not exceed
    the VAT registration threshold in the UK.
  </p>

  <h2>Scoping your web project</h2>
  <p>
    To get a better sense of the price, you might want to decide which of these
    you would like me to do:
  </p>
  <ul class="mt-2 mb-2">
    <li>
      <strong>Graphic design/branding:</strong> If you don't have any branding or
      designs for the site, then I can work with you to create some.
    </li>
    <li>
      <strong>Content creation:</strong> I can take content from documents you have
      and adapt it for the web, or work with stakeholders to gather content. I can
      also source and create images, if you don't have any already.
    </li>
    <li>
      <strong>Site creation:</strong> The actual coding, review and testing of the
      website.
    </li>
    <li>
      <strong>Maintenance:</strong> The ongoing care of the site, with code updates,
      new features, and content updates as required.
    </li>
  </ul>
  <p>
    The <a href="/insights/budget-and-time/">Budget and time page</a> also gives
    you ideas on scoping your web project.
  </p>
  <div class="tinted full-width">
    <div class="container">
      <h2 class="contact">Contact</h2>
      <p>
        Get in touch if you'd like to discuss the scope of your project or get a
        quote.
      </p>
      <div class="text-primary text-xx-large mt-0 mb-1">+44 7455 624491</div>
      <div class="mb-3">
        <a href="mailto:martin@martincookdesign.co.uk"
          >martin@martincookdesign.co.uk</a
        >
      </div>
      <div>
        <a aria-label="Chat on WhatsApp" href="https://wa.me/7455624491">
          <Image
            src={whatsApp}
            alt="WhatsApp button"
            layout="constrained"
            width={190}
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
