---
const pageTitle = "How much it costs";
const description = "How much it costs to get support and web packages.";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <p>
    It's very difficult to give an exact figure for costs, because each website
    is unique. To give some idea, though, I've created some packages with set
    prices. Note that you are not restricted to the systems in the packages: see
    "custom development below".
  </p>

  <h2>Small site package: £xxx/&euro;xxx/$xxx</h2>
  <p>
    <strong
      >The package assumes you will supply the branding (e.g. logo, color
      schemes) and the content (e.g. text and images) for the site. It also
      assumes you have bought a domain name and hosting. Contact me if you're
      not sure about any of this, and I'll talk you through it.</strong
    >
  </p>

  <ul>
    <li>
      Up to twenty pages. Note: setting up the site is the most expensive bit.
      Additional pages after the don't take much time, but will be billed
      separately.
    </li>
    <li>
      Choice of three professional designs created around your brand. Contact me
      if you already have web designs. This will bring down the price.
    </li>
    <li>
      Create as many editor and administrators as you want to log in to change
      the site
    </li>
    <li>Simple maintenance</li>
    <li>Choice of technology depending on your needs (Wordpress or Kirby)</li>
    <li>
      I guide you through the process of creating the site and help make sure
      the [legal aspects](/advice/legal-requirements/) are covered, as well as
      helping with usability, content and design.
    </li>
    <li>
      I can maintain and update the site if you'd prefer (you send the content
      updates)
    </li>
  </ul>
  <h3>Wordpress or Kirby?</h3>
  <p>
    Kirby is a simple content management system (CMS) that is easy to edit and
    organise when you log in. Many people find it easier to use than Wordpress.
    It isn't quite as flexible as Wordpress but it is more secure. It's good for
    a small portfolio or project website. Unlike Wordpress it doesn't have a
    database, so it is easier to move around and maintain. It has a one-off cost
    of 80 Euros to fund its development. That lasts three years until the next
    major version, when you have to pay again, but at a discounted rate.
  </p>
  <h2>More options</h2>
  <p>
    I can help with existing sites, of course, and make larger or more
    specialist sites. These could involve different systems like Astro, NextJs
    or Drupal, and pull in content from other sources (APIs).
  </p>
  <p>
    As a guide, I charge £70 an hour, but contact me for a quote on any chunks
    of work.
  </p>
  <p>CONTACT INFO</p>
  <!-- 
  <p>
    What people want: pay for someone else to do sthg. Established technology.
    Not too expensive. Looks nice and professional. Support when needed. Help
    through process of creating site.
  </p>
  -->
</BaseLayout>
