---
const pageTitle = "How much it costs";
const description =
  "How much it costs for web development, content creation, support and web packages.";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <p>
    It's very difficult to give an exact figure for costs, because it depends on
    the size of the site and the range of tasks you'd like me to do (see
    "Scoping the price" below). The cost is discounted for ongoing work, like
    the long-term maintenance of a site. <strong>
      In general, though, I charge £80/&euro;90 an hour.</strong
    >
  </p>

  <h2>Small site packages</h2>
  <p>
    <strong>November 2025:</strong> I am just working on set-price packages that
    will give you a better idea of the total cost of a site. I know it's annoying
    when people don't give you an idea of cost, so I'm addressing that.
  </p>
  <p>
    In the meantime, please use the contact below to let me know what you'd
    like, and I can give a quote based on that.
  </p>
  <div class="tinted full-width">
    <div class="container">
      <h2 class="contact">Contact</h2>
      <p>Get in touch if you'd like to get a quote for your project.</p>
      <p class="text-primary text-xx-large">
        07455 624491<br />
        <a href="mailto:martin@martincookdesign.co.uk"
          >martin@martincookdesign.co.uk</a
        >
      </p>
    </div>
  </div>
  <h2>Scoping the price</h2>
  <p>
    To get a sense of the price, you might want to decide which of these you
    would like me to do. Obviously, the price will increase the more of these I
    do, but discounts are available for more work:
  </p>
  <ul>
    <li>
      <strong>Graphic design/branding:</strong> you may have brand guidelines already,
      in which case I can just use them when working on the site. If it's a new site
      and you don't have any branding, then I can work with you to create some.
    </li>
    <li>
      <strong>Content creation:</strong> If you don't have in-house editors, I can
      take content from documents you have and adapt the content for the web, or
      work with stakeholders to gather content. I can also source and create images,
      if you don't have any already.
    </li>
    <li>
      <strong>Site creation:</strong> The actual coding, review and testing of the
      website.
    </li>
    <li>
      <strong>Maintenance:</strong> The ongoing care of the site, with code updates,
      new features, and content updates as required.
    </li>
  </ul>
</BaseLayout>
