---
const pageTitle = "How I can help";
const description =
  "Ways I can help with your web project, from coding and designing to maintenance and support";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <p>I can:</p>
  <ul class="p-y-3">
    <li>
      <strong>Advise: Chat through your project with you</strong>, suggest some
      possibilities and give some advice. There is no pressure and no cost for
      an initial chat.
    </li>
    <li>
      <strong>Make websites: Create small to medium websites</strong> with a technology
      that suits your needs. We'd talk about what you want from your site, and I'd
      choose the simplest technologies possible, with the fewest ongoing costs.
    </li>
    <li>
      <strong>Maintain websites:Maintain and develop existing websites</strong>.
      I can help you keep the site going and add new features.
    </li>
    <li><strong>Create illustrations</strong> for websites.</li>
    <li>
      <strong>Train you</strong> how to maintain websites, and how basic web technologies
      work.
    </li>
    <li>
      <strong>Review existing sites</strong> for usability (UX) and accessibility.
    </li>
    <li>
      <strong>Write and edit content</strong> to make it more accessible. I can also
      help coordinate content from different stakeholders.
    </li>
  </ul>
  <p>
    See the <a href="/about/">About page</a> for my experience and portfolio.
  </p>
  <div class="tinted full-width">
    <div class="container">
      <h2>Contact</h2>
      <p>Drop me a line if you'd like to chat about your site.</p>
      <p class="text-primary text-large">
        07965 235865<br />
        <a href="mailto:martin@martincookweb.com">martin@martincookweb.com</a>
      </p>
    </div>
  </div>
  <h2>The technologies I can help with</h2>
  <p>
    There are a huge number of ways you can make a website or application, and
    no-one can be proficient in all of them.
    <strong
      >If the following lists don't mean anything to you, don't worry about it.</strong
    >
    I will tell you if I have experience in the technology you use or not.
  </p>
  <p>I have most experience in:</p>
  <ul>
    <li>traditional content management systems like WordPress and Drupal;</li>
    <li>PHP-based applications;</li>
    <li>small site builders like Grav, Jekyll and Astro;</li>
    <li>React or React-based systems like Gatbsy and Next.js.</li>
  </ul>
  <p>I don't have experience in:</p>
  <ul>
    <li>Microsoft-based technologies like SharePoint or .net;</li>
    <li>
      Python or Ruby-based applications like Django or the Ruby on Rails
      framework;
    </li>
    <li>Building mobile apps.</li>
  </ul>
  <p>
    I have also built online shops with systems like Volusion, and used other
    site builders.
  </p>

  <h2>If you're not sure...</h2>
  <p>
    Have a look at the <a href="/advice/">advice pages</a>. I've given some
    ideas to help you make more informed decisions about your site.
  </p>
</BaseLayout>
