---
const pageTitle = "Home";
const tdescription = "A test description";
import BaseLayout from "../layouts/BaseLayout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout pageTitle={pageTitle} description={tdescription}>
  <p>
    <strong>
      Need a website for academic project, small business or sub-brand? Don't
      want to deal with digital agencies, or you've hit the limit with site
      builders like Wix and SquareSpace? Or perhaps you just want to talk
      through what options might be best for you?
    </strong>
  </p>
  <p>
    I am a web developer of 25 years' experience, who has worked in many aspects
    of website development, including:
  </p>
  <ul>
    <li>Creating and running large and small websites</li>
    <li>Web graphic design</li>
    <li>Web writing and editing</li>
    <li>
      Working with stakeholders to plan and implement redesigns, new features
      and new websites
    </li>
    <li>
      Ensuring sites reach legal requirements for privacy and accessibility
    </li>
    <li>User experience (UX) testing and reviews of site usability</li>
  </ul>
  <p>
    Now I have my own company specialising in small to medium academic projects.
  </p>
  <div class="tinted float-container">
    <figure class="float-right">
      <img src="images/me2.jpg" alt="A photo of me" width="200" />
      <figcaption>Me in 2025</figcaption>
    </figure>
    <h2>Contact</h2>
    <p>
      Just give me a call if you'd like to chat about what you'd like to do.
      There's absolutely no pressure from my part.
    </p>
    <p>
      Even if you just want a second opinion or bounce ideas off someone then
      feel free to get in touch. I'm always interested in people's web projects,
      and I don't charge for a chat.
    </p>
    <p class="text-primary text-large">
      07965 235865<br />
      <a href="mailto:martin@martincookweb.com">martin@martincookweb.com</a>
    </p>
  </div>
  <h2>Find out more</h2>
  <p>
    See the <a href="how-help">How I can help</a> page to see what I can do for you,
    and for prices.
  </p>
  <p>
    I've put some <a href="/advice/">advice pages</a> together to help you work out
    which way to go with your web project, which technology might be best for your
    project, and what to watch out for working with agencies (as I have!).
  </p>
  <p>
    The <a href="about">About page</a> tells you more about my background and experience.
  </p>
</BaseLayout>
