---

---

<div class="footer-contact">
  <div class="container">
    <h2 class="invisible">Contact</h2>
    <a href="+442071234567">01234 567 8922</a> | <a
      href="mailto:martin@martincookweb.com">martin@martincookweb.com</a
    >
  </div>
</div>
<footer>
  <div class="container white-links">
    <nav class="align-right">
      <ul class="mt-1">
        <li><a href="/">Home</a></li>
        <li><a href="how-help.html">How I can help</a></li>
        <li><a href="how-help.html">How much it costs</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Advice</a></li>
      </ul>
    </nav>
    <div class="m-0">
      <nav>
        <ul class="m-0 p-y-0">
          <li><a href="privacy">Privacy</a></li>
          <li class="p-r-0"><a href="accessibility">Accessibility</a></li>
        </ul>
      </nav>
      <div></div>
    </div>
  </div>
</footer>
