---

---

<footer>
  <div class="footer-contact">
    <div class="container">
      <h2 class="sr-only">Contact</h2>
      <a href="tel:07455624491">+44 7455 624491</a> | <a
        href="mailto:martin@martincookdesign.co.uk"
        >martin@martincookdesign.co.uk</a
      >
    </div>
  </div>
  <div class="container mt-2">
    <div class="white-links">
      <nav class="float-right" aria-label="Footer">
        <ul class="nobullet inline">
          <li><a href="/">Home</a></li>
          <li><a href="/how-help/">How I can help</a></li>
          <li><a href="/how-much-costs/">How much it costs</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/advice/" class="p-r-0">Advice</a></li>
        </ul>
      </nav>
      <div class="m-0">
        <nav aria-label="Secondary">
          <ul class="p-y-0 nobullet inline">
            <li><a href="/privacy/" class="p-l-0">Privacy</a></li>
            <li class="p-r-0">
              <a href="/accessibility/">Accessibility</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
