---

---

<footer>
  <div class="container white-links">
    <div class="flex-container m-0">
      <div>
        <nav>
          <ul class="p-y-0">
            <li><a href="/">Home</a></li>
            <li><a href="how-help.html">How I can help</a></li>
            <li><a href="/">Advice</a></li>
            <li><a href="/">About</a></li>
          </ul>
        </nav>
      </div>
      <div class="align-right">
        <h2 class="invisible">Contact</h2>
        <div class="m-0"><a href="+442071234567">01234 567 8922</a></div>
        <div class="m-0">
          <a href="mailto:martin@martincookweb.com">martin@martincookweb.com</a>
        </div>
        <nav class="align-right mt-2">
          <ul class="m-0 p-y-0">
            <li><a href="privacy">Privacy</a></li>
            <li class="p-r-0"><a href="accessibility">Accessibility</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
