---
import Navigation from "./Navigation.astro";
---

<div class="header">
  <header class="container">
    <div class="logo mb-0"><a href="/">Martin Cook</a></div>
    <p class="strapline">Website development and support</p>
    <Navigation />
  </header>
</div>
