---
interface Props {
  pageTitle: string;
  description: string;
}
const { pageTitle, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <title>{pageTitle} | Martin Cook Design</title>
  <meta name="description" content={`${description}`} />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="viewport" content="width=device-width" />
  <link
    rel="preload"
    href="/fonts/RedHatDisplay-Light.ttf"
    as="font"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf"
    as="font"
    crossorigin="anonymous"
  />
</head>
