---
import Hamburger from './Hamburger.astro';
---
<Hamburger />
<nav class="white-links">
      <div class="container">
      
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/how-help/">How I can help</a></li>
          <li><a href="/advice/">Advice</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </div>
    </nav>