---
import Hamburger from "./Hamburger.astro";
const { pathname } = Astro.url;
---

<Hamburger />
<nav class="white-links main">
  <div class="container">
    <ul>
      <li>
        <a aria-current={pathname === "/" ? "page" : "false"} href="/">Home</a>
      </li>
      <li>
        <a
          aria-current={pathname === "/how-help/" ? "page" : "false"}
          href="/how-help/">How I can help</a
        >
      </li>
      <li>
        <a
          aria-current={pathname === "/how-much-costs/" ? "page" : "false"}
          href="/how-much-costs/">How much it costs</a
        >
      </li>
      <li>
        <a
          aria-current={pathname === "/about/" ? "page" : "false"}
          href="/about/">About</a
        >
      </li>
      <li>
        <a
          aria-current={pathname === "/advice/" ? "page" : "false"}
          href="/advice/">Advice</a
        >
      </li>
    </ul>
  </div>
</nav>
