---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
interface Props {
  pageTitle: string;
  description: string;
}
const { pageTitle, description } = Astro.props;
---

<html lang="en">
  <head>
    <Head pageTitle={pageTitle} description={description} />
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to content</a>
    <Header />
    <div class="container">
      <main id="main">
        {
          pageTitle == "Home" ? (
            <h1 class="sr-only">{pageTitle}</h1>
          ) : (
            <h1>{pageTitle}</h1>
          )
        }
        <slot />
      </main>
    </div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
