---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <slot />
  <p class="mt-4 align-right"><a href="/insights/">Back to Insights</a></p>
</BaseLayout>
